@model ServiceSheetManager.ViewModels.EngineerCalendarVM

<p></p>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(Model => Model.SelectedWeek, Model.WeeksList);
    <input type="submit" value="Select" />
}

<div class="row">
    @foreach (var calendar in Model.CalendarDays)
    {
        if (calendar.Value.CalendarDate.DayOfWeek == DayOfWeek.Saturday || calendar.Value.CalendarDate.DayOfWeek == DayOfWeek.Sunday)
        {
            int numberDays = calendar.Value.CalendarDayDetails.Where(m => m.Value.MissingDay == false).Count();
            if (numberDays > 0)
            {
                Html.RenderPartial("/Views/CalendarDay.cshtml", calendar.Value);
            }
        }
        else
        {
            Html.RenderPartial("/Views/CalendarDay.cshtml", calendar.Value);
        }
    }
</div>
<script>
    $(document).ready(function () {
        $(".well").click(function () {
            $(this).find(".jobNumbers").toggleClass("hidden");
        })
    })
</script>